<div id="kt_header_mobile" class="header-mobile">
  <a href="index.html">
    <img
      alt="Logo"
      src="https://dsc-logo-generator.web.app/dsc_icon-01.svg"
      class="logo-default max-h-30px"
    />
  </a>
  <div class="d-flex align-items-center">
    <button
      class="btn p-0 burger-icon burger-icon-left ml-4"
      id="kt_header_mobile_toggle"
    >
      <span></span>
    </button>
    <button
      class="btn btn-icon btn-hover-transparent-white p-0 ml-3"
      id="kt_header_mobile_topbar_toggle"
    >
      <span class="svg-icon svg-icon-xl">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="24px"
          height="24px"
          viewBox="0 0 24 24"
          version="1.1"
        >
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <polygon points="0 0 24 0 24 24 0 24" />
            <path
              d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z"
              fill="#000000"
              fill-rule="nonzero"
              opacity="0.3"
            />
            <path
              d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z"
              fill="#000000"
              fill-rule="nonzero"
            />
          </g>
        </svg>
      </span>
    </button>
  </div>
</div>
<div class="d-flex flex-column flex-root">
  <div class="d-flex flex-row flex-column-fluid page">
    <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
      <div id="kt_header" class="header header-fixed">
        <div
          class="container d-flex align-items-stretch justify-content-between"
        >
          <div class="d-flex align-items-stretch mr-3">
            <div class="header-logo">
              <a href="/">
                <img
                  alt="Logo"
                  src="https://dsc-logo-generator.web.app/dsc_icon-01.svg"
                  class="logo-default max-h-40px"
                />
                <img
                  alt="Logo"
                  src="https://dsc-logo-generator.web.app/dsc_icon-01.svg"
                  class="logo-sticky max-h-40px"
                />
              </a>
            </div>
            <div
              class="header-menu-wrapper header-menu-wrapper-left"
              id="kt_header_menu_wrapper"
            >
              <div
                id="kt_header_menu"
                class="
                  header-menu
                  header-menu-left
                  header-menu-mobile
                  header-menu-layout-default
                "
              >
                <ul class="menu-nav">
                  <li
                    class="
                      menu-item
                      menu-item-open
                      menu-item-here
                      menu-item-submenu
                      menu-item-rel
                      menu-item-open
                      menu-item-here
                    "
                    data-menu-toggle="click"
                    aria-haspopup="true"
                  >
                    <a href="javascript:;" class="menu-link menu-toggle">
                      <span class="menu-text">Dashboard</span>
                      <i class="menu-arrow"></i>
                    </a>
                  </li>
                  <li
                    class="menu-item menu-item-submenu menu-item-rel"
                    data-menu-toggle="click"
                    aria-haspopup="true"
                  >
                    <a href="javascript:;" class="menu-link menu-toggle">
                      <span class="menu-text">Recommendations</span>
                      <span class="menu-desc"></span>
                      <i class="menu-arrow"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="topbar">
            <div class="dropdown">
              <div
                class="topbar-item"
                data-toggle="dropdown"
                data-offset="10px,0px"
              >
                <div
                  class="
                    btn btn-icon btn-hover-transparent-white btn-lg btn-dropdown
                    mr-1
                  "
                >
                  <span class="svg-icon svg-icon-xl">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      width="24px"
                      height="24px"
                      viewBox="0 0 24 24"
                      version="1.1"
                    >
                      <g
                        stroke="none"
                        stroke-width="1"
                        fill="none"
                        fill-rule="evenodd"
                      >
                        <rect x="0" y="0" width="24" height="24" />
                        <path
                          d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z"
                          fill="#000000"
                          fill-rule="nonzero"
                          opacity="0.3"
                        />
                        <path
                          d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z"
                          fill="#000000"
                          fill-rule="nonzero"
                        />
                      </g>
                    </svg>
                  </span>
                </div>
              </div>
              <div
                class="
                  dropdown-menu
                  p-0
                  m-0
                  dropdown-menu-right dropdown-menu-anim-up dropdown-menu-lg
                "
              >
                <div
                  class="quick-search quick-search-dropdown"
                  id="kt_quick_search_dropdown"
                >
                  <form
                    method="get"
                    action="/recommend"
                    class="quick-search-form"
                  >
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <span class="svg-icon svg-icon-lg">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              xmlns:xlink="http://www.w3.org/1999/xlink"
                              width="24px"
                              height="24px"
                              viewBox="0 0 24 24"
                              version="1.1"
                            >
                              <g
                                stroke="none"
                                stroke-width="1"
                                fill="none"
                                fill-rule="evenodd"
                              >
                                <rect x="0" y="0" width="24" height="24" />
                                <path
                                  d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z"
                                  fill="#000000"
                                  fill-rule="nonzero"
                                  opacity="0.3"
                                />
                                <path
                                  d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z"
                                  fill="#000000"
                                  fill-rule="nonzero"
                                />
                              </g>
                            </svg>
                          </span>
                        </span>
                      </div>
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Input 0 - 10000"
                        name="userId"
                      />
                      <button class="btn" type="submit">Recommend Me!</button>
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i
                            class="
                              quick-search-close
                              ki ki-close
                              icon-sm
                              text-muted
                            "
                          ></i>
                        </span>
                      </div>
                    </div>
                  </form>
                  <div
                    class="quick-search-wrapper scroll"
                    data-scroll="true"
                    data-height="325"
                    data-mobile-height="200"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
